
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-search-1:before { content: '\e802'; } /* '' */
.icon-art-gallery:before { content: '\e803'; } /* '' */
.icon-vector:before { content: '\f045'; } /* '' */
