
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
